{% load static %}
{% include "header.html" %}
<link rel="stylesheet" href="/static/css/titles.css">
<link rel="stylesheet" href="/static/css/label.css">
<link rel="stylesheet" href="/static/css/table.css">

    <!-- component template -->
    <script type="text/x-template" id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="key in columns">
                        ${ key | capitalize }
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredHeroes">
                    <td v-for="key in columns">
                        ${entry[key]}
                    </td>
                </tr>
            </tbody>
        </table>
      </script>

    <div id="app" class="center" style="width: auto;">
        <div class="slogan" style="padding-bottom: 10px; text-align: center;">${slogan}</div>
        <ul class="tiles">
            <li v-for="p in psy_data">
                <div class="tile tile-border" v-bind:style="'display: inline-block; background-color:' + getColor(p)">
                    <img src="/static/img/1.png">
                    <p style="display: table; margin: 4px auto 0px;">${p.credibility}% | ${getLastElement(p)}</p>
                </div>
            </li>
        </ul>
        <input v-bind:disabled="input_disabled" v-bind:style="'display: ' + input_display" type="text" v-model="real_num" v-on:keyup.enter="checkNum" placeholder="Введите ваше число и нажмите Enter!">
        <div class="button" v-bind:style="'margin: 5px auto; display: ' + button_display" v-on:click="startGame">Я загадал(-а) число</div>
        <div class="button" v-bind:style="'margin: 5px auto; display: ' + button_display" onclick="historyVue.display(true)">Показать историю</div>
    </div>
    <div id="history" class="center with_background" v-bind:style="'width: auto; display: ' + history_display">
        <demo-grid :heroes="gridData" :columns="gridColumns">
        </demo-grid>
        <div class="button" style="margin: 15px auto 0px; display: table;" onclick="historyVue.display(false)">Закрыть</div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ["${", "}"],
            data: {
                psy_data: {{psy_data | safe}}, //Ужасная вещь, но что поделать .-.,
                num_data: {{num_data | safe}}, //Ужасная вещь, но что поделать .-.
                slogan: "Загадайте двухзначное число!",
                input_display: "none",
                input_disabled: true,
                button_display: "table",
                real_num: "",
            },
            methods:{
                getColor: function(mass){
                    if(mass.status == 'win'){
                        return 'rgb(50, 200, 50, 0.3)'
                    }else if(mass.status == 'loss'){
                        return 'rgb(200, 50, 50, 0.3)'
                    }else{
                        return 'rgb(0, 0, 0, 0.3)'
                    }
                },
                getLastElement: function(mass){
                    if(mass.answer_time == 0){
                        return mass.history[mass.history.length-1] || 0
                    }else{
                        return 0
                    }
                },
                subscribe: function(){
                    axios.post('/game')
                    .then(function (response) {
                        console.log(response);
                        if('action' in response.data){
                            if (response.data.action == "end"){
                                app.slogan = "Теперь введите загаданное вами число!"
                                app.input_disabled = false
                                return;
                            }else if (response.data.action == "start"){
                                app.input_disabled = true
                                setTimeout(app.subscribe);
                            }
                        }else{
                            app.psy_data = response.data
                            setTimeout(app.subscribe, 1001);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        setTimeout(app.subscribe, 1000);
                    });
                },
                checkNum: function(){
                    axios.post('/game', {
                        num: app.real_num
                    })
                    .then(function (response) {
                        app.num_data.push(app.real_num)
                        app.psy_data = response.data
                        app.slogan = "Отлично! Теперь вы видите кто был прав, а кто нет. Если хотите продолжить, то снова загадайте число."
                        app.button_display = "table"
                        app.input_display = "none"
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                startGame: function(){
                    this.real_num = ""
                    this.slogan = "Ожидайте, пока все экстрасенсы ответят!"
                    this.button_display = "none"
                    this.input_display = "block"
                    this.subscribe()
                }
            }
        })
    </script>

    <script>
        Vue.component("demo-grid", {
            template: "#grid-template",
            delimiters: ["${", "}"],
            props: {
                heroes: Array,
                columns: Array
            },
            data: function() {
                var sortOrders = {};
                this.columns.forEach(function(key) {
                sortOrders[key] = 1;
                });
                return {
                sortKey: "",
                sortOrders: sortOrders
                };
            },
            computed: {
                filteredHeroes: function() {
                var sortKey = this.sortKey;
                var order = this.sortOrders[sortKey] || 1;
                var heroes = this.heroes;
                if (sortKey) {
                    heroes = heroes.slice().sort(function(a, b) {
                    a = a[sortKey];
                    b = b[sortKey];
                    return (a === b ? 0 : a > b ? 1 : -1) * order;
                    });
                }
                return heroes;
                }
            },
            filters: {
                capitalize: function(str) {
                return str.charAt(0).toUpperCase() + str.slice(1);
                }
            }
            });

        var historyVue = new Vue({
            el: '#history',
            delimiters: ["${", "}"],
            data: {
                history_display: 'none',
                // gridColumns: ["name", "power"],
                // gridData: [
                //     { name: "Chuck Norris", power: Infinity },
                //     { name: "Bruce Lee", power: 9000 },
                //     { name: "Jackie Chan", power: 7000 },
                //     { name: "Jet Li", power: 8000 }
                // ]
            },
            computed:{
                gridColumns: function(){
                    cols = ["Я"]
                    i = 1
                    app.psy_data.forEach(e => {
                        cols.push('Экстар №'+i++)
                    });
                    return cols
                },
                gridData: function(){
                    data = []
                    j = 0
                    app.num_data.forEach(e => {
                        i = 1
                        col = {
                            Я: e
                        }
                        app.psy_data.forEach(e => {
                            col['Экстар №'+i++] = e.history[j]
                        });
                        j += 1
                        data.push(col)
                    });
                    return data
                }
            },
            methods: {
                display: function(b){
                    if(b){
                        this.history_display = 'block'
                    }else{
                        this.history_display = 'none'
                    }
                }
            }
        })
    </script>

{% include "footer.html" %} 